body {
  display: flex;
  justify-content: center;
  align-items: center;

}

.form-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#ffa500;
    border-radius:3px;
    border:none;
}

h1 {
    color: #ffa500

}
