<!DOCTYPE html>
<html>

<head>
    <title>LabTA Hub</title>
</head>

<body>
    <hr>
    <div class="container">

        <h1>LabTA Hub</h1>
        <p>Welcome, {{ ta_name }}</p> <!-- this needs to be the name assoc with the netid -->

        <!-- clock in button: disabled for 2 hours -->
         {% if clock_disabled %}
        <form method="post" action="">
            <button id="clock_in" type="submit" name="action" value="clock_in" class="button-link" disabled>
                Clocked in (shift will last for 2 hours)
            </button>
        </form>
        {% else %}
        <form method="post" action="">
            <button id="clock_in" type="submit" name="action" value="clock_in" class="button-link">
                Clock In
            </button>
        </form>
        {% endif %}

        <br>
        <form method="post" action="">
            <button type="submit" name="action" value="start_session" class="button-link">
                Start Session
            </button>
        </form>

        <h2>Queue</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Class</th>
                    <th>Assignment</th>
                    <th>Bug Description</th>
                    <th>Queue #</th>
                </tr>
            </thead>
            <tbody>
                {% if queue_students %}
                {% for student in queue_students %}
                <tr>
                    <td>{{ student["student_netid"] }}</td>
                    <td>{{ student["course"] }}</td>
                    <td>{{ student["assignment"] }}</td>
                    <td>{{ student["bug_description"] }}</td>
                    <td>{{ student["queue_number"] }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5">No students currently in queue.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>

        <h2>Active Sessions</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>TA</th>
                    <th>Class</th>
                    <th>Assignment</th>
                    <th>Bug Description</th>
                </tr>
            </thead>
            <tbody>
                {% if active_sessions %}
                {% for session in active_sessions %}
                <tr>
                    <td>{{ session["student_netid"] }}</td>
                    <td>{{ session["ta_netid"] }}</td>
                    <td>{{ session["course"] }}</td>
                    <td>{{ session["assignment"] }}</td>
                    <td>{{ session["bug_description"] }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5">No active sessions right now.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>

        <hr>
        {% include 'footer.html' %}
    </div>
    <script> setInterval(async function () {
            const response = await fetch('/workhub');
            const data = await response.json();

            if (data.matched) {
                location.href = "/insessionta";
            }
        }, 5000);
    </script>
</body>

</html>